:root {
  --background: #F5F5F5;
  --grey: #494949;
  --grey50: #4949497e;
  --grey10: #4949491a;
}

html {
  height: 100%;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: "IBM Plex Mono", "Karla", san-serif;
  font-style: italic;
}

h2 {
  /* font-size: 1.5rem; */
  font-weight: 700;
  font-family: "IBM Plex Mono", "Karla", san-serif;
  font-style: italic;
  text-decoration: none;
}

a {
  /* box-shadow: inset 0 -.3rem #ECD4FF; */
  text-decoration: underline;
  /* border-bottom: 2px dotted currentColor; */
}

p {
  color: #8A8A8A;
}

.contact-info {
  display: flex;
  font-size: 0.7rem;
  margin: 0.1rem 0 1rem 0;
  color: #8A8A8A;
}

.contact-info > * {
  margin-right: 0.3rem;
}

.project p {
  font-size: 0.75rem;
  line-height: 1.5;
}

/* Grid Layer 1 */

body {
  background-color: var(--background);
  color: var(--grey);
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1.5rem [main-start] minmax(0, 24rem) [main-end] 1.5rem 1fr;
  grid-template-rows: 5rem auto 1rem;
}

body > * {
  grid-column: main;
  margin: 2rem 0;
}

.emoji {
  font-style: normal;
}

/* separating the nav links */
nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
  
}

nav a {
  text-decoration: none;
  transition: 0.1s;
}

/* Grid Layer 2 */

main {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  /* padding: 0.5rem 0; */
}

.design .project {
  display: flex;
}

.description {
  margin-left: 1rem;
}

/* add spacing between projects */
.project:not(:last-child) {
  margin-bottom: 1.5rem;
}



section, article{
  grid-column: main;
  padding: 1.5rem 1.5rem 1.75rem;
  margin: 1rem 0;
  background-color: white;
  /* border-radius: 0.4rem; */
  transition: 0.1s;
  /* box-shadow: 10px 11px 0 0px var(--grey10); */
}

section a {
  transition: 0.1s;
}

footer {
  font-size: 0.5rem;
  /* padding-bottom: 2rem; */
  align-self: flex-end;
}


