.info {
    padding-top: 150px;
    max-width: 1200px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}


.info h1 {
    line-height: 150px;
}

.info img {
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
    width: 25%;
    height: auto;
    border-radius: 25%;
    margin-top: 4%;
    margin-left: 10%;
}
