* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif
  }
  
  /* header */
  header {
    background-color: #F5CEC7;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
  }
  /* social media buttons */
  article.social {
    background-color: #F5CEC7;
    text-align: right;
  }

  article.navigation {
    background-color: #F5CEC7;
    text-align: center;
  }
  /* create rainbow name block text */
  h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 5rem;
    letter-spacing: 0.20rem;
    text-transform: uppercase;
    color: black;
    text-shadow: 4px 4px #f09b93,
                 8px 8px #ebd6d7,
                 12px 12px #f9ebd9,
                 16px 16px #e9dd8a,
                 20px 20px #439093,
                 24px 24px #f09b93,
                 28px 28px #ebd6d7,
                 32px 32px #f9ebd9,
                 36px 36px #e9dd8a;
  }
  
  h2.title {
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 30px;
  
  }

  h3 {
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  /* set background color of site */
  body {
    background-color: #F5CEC7;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* navigation menu */
  nav {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background: #F5CEC7;
    color: black;
    text-align: center;
    text-transform: lowercase;
    padding: 10px;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
   
    
   
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #F5CEC7;
    padding: 10px;
    border-radius: 30px;
  }
  
  /* footer */
  footer {
    background-color: #F5CEC7;
    padding: 5px;
    text-align: center;
    color: black;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }