:root {
  /* color palette */
  --color1: #372e59;
  --main-color: #4a3060;
  --color3: #6b2270;
  --color4: #82583a;
  --color5: #639a3e;
  --bg: #fbf3e2;
  /* fonts */
  --theme-font: 'Chango', cursive;
  --text-font: Verdana, 'Geneva', sans-serif;
  --header-font: 'Krona One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-color);
  font-family: var(--theme-font);
  background-color: var(--bg);
}

h1 {
  font-size: 1.5rem;
}

a {
  color: var(--main-color);
  position: relative;
  text-decoration: none;
}
a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a:focus::before, a:hover::before, a.selected::before {
  visibility: visible;
  transform: scaleX(1);
}

/* HEADER */

header {
  width: 100%;
  max-width: 1400px;
}

.logo {
  position: absolute;
  font-size: 1.9rem;
  top: 10px;
  border: solid var(--main-color) 3px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  padding: 2px;
}
div.logo > div.grad-animation {
  margin-top: 3px;
}
div.logo > div.grad-animation a {
  text-decoration: none;
}

nav {
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  padding: 5px 15px;
  font-family: var(--theme-font)
}
@media only screen and (max-width: 650px) {
  nav ul li {
    display: block;
  }
}

/* MAIN */
.greeting {
  height: calc(80vh - 8em);
  padding: 4em;
  color: var(--main-color);
} 
.line-1{
    position: relative;
    top: 40%;  
    width: 3em;
    margin: 0 auto;
    border-right: 2px solid var(--bg);
    font-size: 380%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}
/* Greeting Animation */
.anim-typewriter-1{
  animation: typewriter 1s steps(4) 1s 1 normal both, 
    blinkTextCursor 900ms steps(44) 3 normal forwards;           
}  
.anim-typewriter-2{
  animation: typewriter-2 1s steps(3) 2s 1 normal both,
             blinkTextCursor 900ms steps(44) 2.5s normal forwards;
}
.anim-typewriter-3{
  animation: typewriter 1s steps(5) 3s 1 normal both,
             blinkTextCursor2 900ms steps(44) 3s infinite normal forwards;
} 
@keyframes typewriter{
  from{width: 0;}
  to{width: 3em;}
}
@keyframes typewriter-2{
  from{width: 0;}
  to{width: 2.2em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: var(--main-color);}
  to{border-right-color: transparent;}
}
@keyframes blinkTextCursor2{
  from{border-right-color: transparent;}
  to{border-right-color: var(--main-color);}
}   

.content, .jounal-content{
  min-height: calc(80vh - 8em);
  padding: 4em;
  max-width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 780px) {
  .content {
    max-width: 80%;
  }
}
@media only screen and (max-width: 650px) {
  .content {
    padding: 4rem 1rem;
  }
}
.content-text {
  position: relative;
  top: 20%;
  padding-left: 5%; 
  line-height: 2.1rem;
  font-family: var(--text-font);
  font-size: 1.5rem;
}

article {
  margin-bottom: 100px;
}
.journal-header {
  border-top: solid var(--main-color) 5px;
  font-family: var(--header-font);
}
.topics {
  font-family: var(--theme-font);
}
.bold {
  font-weight: bolder;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 5%;
}

/* OTHER STYLING */

.grad-animation {
  background: radial-gradient(#372e59 30%, #4a3060 45%, #6b2270 60%, #82583a 75%, #639a3e 100%);
  background-size: 200% auto; 
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 60s linear infinite alternate; 
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

details {
  margin: 30px 0px;
}

#button {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  left: 90vw;
  border: solid var(--main-color) 3px;
  border-radius: 50px;
  height: 40px;
  width: 80px;
  display: inline-block;
  text-align: center;
  padding-bottom: 4px;
  background-color: var(--bg);
  z-index: 9999;
  
}

#button {
  animation-duration: 2s;
  animation-iteration-count: 3;
  transform-origin: bottom;
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-15px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

a#button:focus::before, a#button:hover::before, .top:focus::before, .top:hover::before {
  visibility: hidden;
}

.top {
  font-family: var(--theme-font);
}