.container {
    display: grid;
    flex-direction: column;
}

body {background-image: url("../images/arles.jpeg");
    background-color: antiquewhite;
    background-repeat: repeat;
    font-family: Futura}

.menu {
    font-family: Futura;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8d8f67;
}
.menu li {
    float: left;
}

.menu a:link, a:visited {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.menu a:hover {
    background-color: darkolivegreen;
    color: lightgrey;
}

header {
    background-color: #fdd8b4;
    background-size: cover;
    font-family: Futura;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: x-large
}

.date {
    background-color: #73a1bc;
    display: inline-grid;
    text-align: left;
    padding: 20px;
}

.post {
    background-color: #a98663;
    display: compact;
    text-align: left;
    padding: 20px;
}