.date {
    font-family: Futura;
    background-color: #73a1bc;
    display: inline-grid;
    text-align: left;
    padding: 20px;
    border-radius: 12px;
}

.post {
    font-family: Futura;
    background-color: #a98663;
    display: compact;
    text-align: left;
    padding: 20px;
    border-radius: 12px;
}

img {
    float: center;
    width: auto;
    height: auto;
    border: black;
    border-radius: 12px;
}