body {
    display: flex;
    flex-flow: column nowrap;
}

header {
    flex: 0 1 auto;
}

#bar {
    flex: 0 1 auto;
}

nav {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

a {
    text-decoration-line: none;
    font-size: 200%;
    line-height: 2em;
}

footer {
    flex: 0 1 auto;
}