.container {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.container div {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 30%;
    border-bottom: .25rem dotted #52b788 ;
}

p {
    text-align: justify;
}