.container-writing {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 120px;
    position: absolute;
}
.writing {
    width:500px;
    margin: 0 auto;
    text-align: center;
    background: white;
}
.writing h1 {
    font-size: 93px;
    width: 650px;
    margin: 30px 0 30 px 40px;
    text-align:center;
    background: white;
    border-style: solid;
}
.writing p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30 px 40px;
    line-height: 25px;
    text-align:center;
    background: white;
    border-style: solid;
}
body {
    font-family: sans-serif, "Times New Roman";
}



