main {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

main ul {
    list-style-type: none;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.adagrams {
    grid-column: 1 / 3;
    grid-row: 1;
}

.adagrams-img {
    grid-column: 3 / 4;
    grid-row: 1;
}

ul img {
    height: auto;
    width: auto;
}

.solarsystem {
    grid-column: 2 / 4;
    grid-row: 2; 
}

.grocerystore {
    grid-column: 1 / 3;
    grid-row: 3;
}

.rideshare {
    grid-column: 2 / 4;
    grid-row: 4;
}

.slackcli {
    grid-column: 1 / 3;
    grid-row: 5;
}

main a {
    color: #64ffda;
    text-decoration: none;
    margin: 0.2em;
}

main a:hover {
    color: white;
}

.solarsystem::before {
    content: "🪐";
 }
 
.rideshare::before {
    content: "🚗";
}

.slackcli::before {
    content: "💬";
}

.grocerystore::before {
    content: "🍏";
}

.adagrams::before {
    content: "🧩";
}

