
@font-face {
    font-family: Josefin-Sans;
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

body {
    font-family: Josefin-Sans, Helvetica, SansSerif;
    color: #003;
}

.container {
    display: grid;
    grid-template: 1fr repeat(4, minmax(150px, 1fr)) minmax(5px, 50px) / repeat(6, 1fr) 25px;
}

.header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}

.content {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
}

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.footer {
    grid-column: 2 / 6;
    grid-row: 7 / 8;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right-style: double;
    border-right-color: #000033;
}

ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    direction: rtl;
    line-height: 2em;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
}

h2 {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 0.6em;

}

main {

    border-top-style: double;
    border-bottom-style: double;

}

.date, .post-title {
    padding-left: 2em;
}

p {
    padding-left: 2em;
    padding-bottom: 1em;
}


a {
    text-decoration: none;
    color: #000033;
}

a:hover {
    font-weight: bold;

}

