.about-me-sum h2 {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-size: 300%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}


.about-me-sum p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3em;
    display: flex;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 30%;
    margin-left: 30%;
    margin-right: 30%;
}