div.text-body {
    margin-top: 4em;
}

section.bottom-image {
    background-image: url("../images/blankfairywings.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-size: 25em;
    min-height: 400px;
    padding: 1em;
}

div.divider:first-of-type {
    transform: scaleY(-1);
}