.main-content img {
  position: absolute;
  height: 100%;
  width: auto;
  margin-left: 30%;
  z-index: -1;
  opacity: 0.6;
}

.main-content nav {
  position: absolute;
  bottom: 0;
  margin-left: 48%;
  margin-bottom: 20px;
  z-index: 1;
  font-size: 48px;
  font-weight: 800;
}

.stroke {
  -webkit-text-stroke: 2px #283618; /* width and color */
  color: rgba(0, 0, 0, 0); /* makes just the font sans border transparent */
}

nav .nav-items a:hover {
  -webkit-text-stroke: 0px;
  color: #DDA15E;
  font-style: italic;
}

.nav-items a:link, .nav-items a:visited {
  text-decoration: none;
  -webkit-text-stroke: 2px #606C38;
  color: rgba(0, 0, 0, 0);
}
