* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/* header */
header {
    background-color:tomato;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    height: 60px;
    padding: 10px;
}
.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav li a {
    text-decoration: none;
    color: white;
}

/* image */
body, html {
    height: 100%;
    margin: 0;
  }
  
.back-ground {
    background-image: url("../images/fullpage-image.jpg");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* content */
#content {
    font-size: 24px;
    color:peru;
    padding: 110px;
    float: left;
}

/* footer */
.footer {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: small;
    bottom: 0;   
    background-color: tomato; 
    flex-shrink: 0;
    padding: 20px;
}

