@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap);
/* @import url(https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap); */

/* * {
  border: black 1px solid;
} */

body {
  color: #283618;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Mulish', sans-serif; */
}

.body-container {
  display: grid;
  grid-template-rows: 75px auto 100px;
  align-items: center;
}

header {
  grid-row: 1;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-name {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
}

.main-content {
  grid-row: 2;
  position: relative;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

footer {
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

footer a {
  margin-left: 10px;
  margin-right: 10px;
}

footer a:link, footer a:visited {
  color: #606C38;
  opacity: 0.5;
  -webkit-text-stroke: 0.5px #606C38;
}

footer a:hover {
  -webkit-text-stroke: 0px;
  color: #DDA15E;
}