.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.emoji {
    font-size: 400%;
}

ul {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

ul li {
    padding: .1em;
}

a:hover {
    color: yellow;
}

#slack-logo {
    height: 1.25em;
    width: 1.25em;
}