body {
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0; padding: 0  */
}

/* also this looks bad when you make the page more narrow */
.site-nav ul li{
  display: inline;
  /* why did this work? is it bad to use px here? */
  padding: 10px 20px;
}

/* what should be here vs nav? */
.site-nav ul li a {
 text-decoration: none;
 color: white;
}

/* idk how to make this extend to the top */
header, footer {
  background-color: burlywood;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 20px;
  font-size: 30px;
  flex-wrap: nowrap;
}

/* idk how to make this extend all the way to left and right sides */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* idk i get issues with this being too big on other pages.. */
  height: 3rem;
  padding: 10px;
}

.contact-info li {
  display: inline;
  float: right;
  padding: 10px 30px;
}

.contact-info li a {
  color: white;
 }

 /* idk how to make this in the bottom right and centered with contact info */
 /* #copyright {
   float: left;
 } */